* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: grey;
}


/* Header elements */

nav {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: grey;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  padding-left: .5em;
}

nav .links a {
  text-decoration: none;
  color: black;
  padding: 0px 15px;
  
}

nav a:hover {
  color: yellow;
}

.nav-logo {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  align-self: flex-start;
  
  font-size: 16pt;
  
}

.nav-logo-text {
  text-align: center;
  padding-top: 12px;
}

.nav-logo-text a {
  text-decoration: none;
  color: black;
}

.nav-logo-text a:hover {
  color: white;
  
}

.links {
  padding-top: 15px;
}

.nav-heading {
  padding-top: 60px;
  font-size: 32pt;
}

.port {
  padding-right: 30px;
}

.main-view {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Form grid-box */

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

}

label {
    grid-column: 1 / 2;
    
}

input {
    grid-column: 2 / 3;
    margin: 0px;
  
}

input[type=submit] {
  grid-column: 1 / 3;
  padding: 10px 0px;
}

/* Social media grid-box/links */

.s-media-link {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 20%;
}

.row-1 {
  grid-row: 1 / 2;
}

.row-2 {
  grid-row: 2 / 3;
}

.row-3 {
  grid-row: 3 / 4;
}

.s-media-link a:hover {
  opacity: 0.3;
  transition: .3s;
}


/* Media queries */

@media only screen and (max-width: 600px) {
  .grid-box {
    display: block;
  }
}