* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}


/* Header elements */


nav {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  padding-right: 20px;
  
  z-index: 10000;
}
nav .links {
  
}
nav .links a {
  text-decoration: none;
  color: black;
  padding: 0px 5px;
  
}

nav a:hover {
  color: yellow;
}

.nav-logo {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  align-self: flex-start;
  
  font-size: 16pt;
  
}

.nav-logo-text {
  text-align: center;
  padding-top: 12px;
}

.nav-logo-text a {
  text-decoration: none;
  color: black;
}

.nav-logo-text a:hover {
  color: white;
  
}

.links {
  padding-top: 15px;
}

.nav-heading {
  padding-top: 60px;
  font-size: 32pt;
}

.port {
  padding-right: 0px;
}

/* Main viewing area */

.main-view {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* recent links to blog entries/photos */

.links-container {
  /* display: block; */
  width: auto;
}

.links-container h2 {
  text-align: center;
}

.recent-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}


.container .main-view .links-container .recent-posts .recent-entry .recent-entry-date {
  display: inline;

}

ul li a {
  /* text-decoration: none; */
  color: black;
}

/* blog photo gallery flexbox */

.photo-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-container .box {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;

}

.photo-container .box .img-box {
  position: relative;
  /* overflow: hidden; */
}

.photo-container .box .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  transition: 1s;
  opacity: 0;
}

.photo-container .box .details .content {
  position: absolute;
  /* for centering the text */
  /* top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;   */
}

.photo-container .box:hover .details {
  opacity: 1;
}


/* Media queries */

@media only screen and (max-width: 600px) {
  .grid-box {
    display: block;
  }
}