* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: grey;
}

/* Header elements */

nav {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: grey;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  padding-left: .5em;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0px 15px;
  
}

nav a:hover {
  color: yellow;
}

.nav-logo {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  align-self: flex-start;
  
  font-size: 16pt;
  
}

.nav-logo-text {
  text-align: center;
  padding-top: 12px;
  
}

.links {
  padding-top: 15px;
}

.nav-heading {
  padding-top: 60px;
  font-size: 32pt;
}

.port {
  padding-right: 30px;
}

/* Main viewing area */

.container {
  background-color: grey;
  height: 100vh;
  width: 100vw;
}

.main-view {
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

/* Main view grid box */

.grid-box {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-column-gap: 50px;
  
  
}

.image1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-repeat: no-repeat;
  border: 2px solid black;
}

.image1-heading {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 2px solid black;
}

.image1-text {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border: 2px solid black;
}

.image2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 2px solid black;
}

.image2-heading {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid black;
}

.image2-text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 2px solid black;
}

img {
  width: 100%;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .grid-box {
    display: block;
  }
}